* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Copperplate Gothic Light";
}


a {
  text-decoration: none;
}

header {
    height: 90px;            
     width: 100%;            
    background-color: rgb(142, 68, 173);
    float: left;
}
.logo {
    width: 150px;
    margin-top: 0px;
    float: left;
  }
  .logo-wa {
        width: 50px;
        margin-top: 20px;
        float: left;
  }
  .paragraf{
      color: white;
      font-size: 15px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      float: left;
    margin-top: 40px;
  }
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header-right:hover {
    background-color:rgba(255, 255, 255, 0.5);
  }
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color:white;
    display:block;
  }
  main {
	background-image: url(https://raw.githubusercontent.com/arif13setiawan/arif13setiawan.github.io/master/crispylicious.jpg);
	padding: 100px 0 20px 0;
  }
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.slide-container {
  width: 1050px;
  height: 350px;
  margin: 15px auto;
  overflow: hidden;
}

.promo-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: clip;
  white-space: nowrap;
}

.promos {
  margin: 0 10px;
  width: 1050px;
  height: 350px;
  display: inline-block;
  flex-direction: row;
  background-size: contain;
}

#promo-1 {
    background-image: url("https://github.com/arif13setiawan/crispylicious_G22_CEB_UGM_progate.github.io/raw/master/workday_funday.png");
}

#promo-2 {
     background-image: url("https://github.com/arif13setiawan/crispylicious_G22_CEB_UGM_progate.github.io/raw/master/cashback_gopay.png");
}

#promo-3 {
    background-image: url("https://github.com/arif13setiawan/crispylicious_G22_CEB_UGM_progate.github.io/raw/master/gratis_lemon_tea.png");
}

lesson-wrapper {
  height: 750px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  text-align: center;
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}
@keyframes slide-top {
  0% {    
            transform: translateY(-100px);
  }
  100% {    
            transform: translateY(0);
  }
}


.lesson {
  float: left;
  width: 25%;
}

.lesson-icon{
  position: relative;
}


.lesson-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.footer-left img {
  width: 130px;
}

.footer-left p {
  color: #b3aeb5;
  font-size: 14px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-left {
  float: left;
}


.footer-lefte a {
  line-height: 65px;
  padding: 0 25px;
  color: #b3aeb5;
  display: block;
  float: left;
  transition: all 0.5s;
}

.footer-lefte a:hover {
  background-color: rgb(142, 68, 173);
}
.footer-right {
  float: right;
  
}
.footer-right p{
  margin-left: 30px;
}


.fu{
	cursor: pointer;
	padding: 0 15px;
	margin: 0 15px;
	line-height: 30px;
	color: #b3aeb5;
	font-size: 18px;
}
.fa {
  margin-right: 5px;
}

